body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0b1120;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background-color: #0f172a;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}
.logo span {
    color: #4f46e5;
}

.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    text-decoration: none;
    color: #cbd5e1;
    transition: 0.3s;
}
.nav-links a:hover {
    color: white;
}

.register-btn {
    background: linear-gradient(90deg, #6366f1, #ec4899, #f59e0b);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* HEADER */
.image {
    position: relative;
    width: 100%;
}

.header {
    width: 100%;
    height: 300px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
}

section.question {
    padding: 30px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.section {
    display: none;
}

#tutorial-page {
    display: block;
}

.image {
    position: relative;
    width: 100%;
}

.header {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tutorial {
    margin-top: 20px;
    font-size: 18px;
}

.start{
    margin: 20px auto;
    padding: 12px 30px;
    background-color: #1e1b4b;
    color: white;
    border: none;
    border-radius: 10px;
}