body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0b1120;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background-color: #0f172a;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}
.logo span {
    color: #4f46e5;
}

.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    text-decoration: none;
    color: #cbd5e1;
    transition: 0.3s;
}
.nav-links a:hover {
    color: white;
}

.register-btn {
    background: linear-gradient(90deg, #6366f1, #ec4899, #f59e0b);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Membungkus semua konten soal supaya center */
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

/* Gambar center */
.question-img {
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}

/* Button answer sudah benar (wrapper center) */
.btn-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.answerBtn {
    background-color: #22c55e;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.answerBtn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.correct {
    background-color: #16a34a !important;
}

.wrong {
    background-color: #dc2626 !important;
}

/* Next button center */
.nextBtn {
    margin: 20px auto;
    padding: 12px 30px;
    background-color: #1e1b4b;
    color: white;
    border: none;
    border-radius: 10px;
    opacity: 0.4;
    cursor: not-allowed;
    display: block;
}

.backBtn {
    margin: 20px auto;
    padding: 12px 30px;
    background-color: #1e1b4b;
    color: white;
    border: none;
    border-radius: 10px;
}

.nextBtn.active-next {
    opacity: 1;
    cursor: pointer;
}